@if (isLoading) {
  <app-loader></app-loader>
}
 @else if (errorMsg) {
  <app-error-handler
  [errorCode] = "errorCode"
  [errorMsg] = "errorMsg"
  ></app-error-handler>
} 
@else {
  <div class="p-6">
    <div class="mb-6">
      <input
        type="text"
        [formControl]="search"
        class="border border-black w-full px-4 py-2 m-5 mr-55 rounded-xl focus:outline-none focus:ring-2 focus:ring-blue-500"
        placeholder="Search by title"
      />
    </div>
    <div class="grid grid-cols-3 gap-2">
      @for (post of filteredPosts; track post.id) {
        <app-card [id]="post.id"
        [body]="post.body"
        [title]="post.title"
        [userId]="post.userId"
        
        ></app-card>
      }
    </div>
    @if (filteredPosts.length === 0 && search.value) {
      <div class="text-center text-gray-500 mt-8">
        <p>
          No posts found for <strong>{{ search.value }}</strong>
        </p>
      </div>
    }
  </div>
}
